<app-navbar></app-navbar>
<div class="container">
  <div class="row g-2">
    <div class="col">
      <div class="form-floating mb-3 mt-3">
        <select
          class="form-select"
          id="floatingSelect"
          aria-label="Floating label select example"
        >
        </select>
        <label for="floatingSelect">Tipo de documento</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating mb-3 mt-3">
        <input
          type="number"
          [(ngModel)]="userUpdate.Numero_de_documento"
          #number_document
          class="form-control"
          placeholder="Ingrese el numero de documento"
        />
        <label>Numero documento</label>
      </div>
    </div>
  </div>
  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <input
          type="text"
          [(ngModel)]="userUpdate.Nombre1"
          #Nombre1
          class="form-control"
          placeholder="Ingrese primer nombre"
        />
        <label>Primer nombre</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input
          type="text"
          [(ngModel)]="userUpdate.Nombre2"
          class="form-control"
          placeholder="Ingrese primer nombre"
        />
        <label>Segundo nombre</label>
      </div>
    </div>
  </div>
  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          [(ngModel)]="userUpdate.Apellido1"
          #Apellido1
          class="form-control"
          placeholder="Ingrese primer apellido"
        />
        <label>Primer Apellido</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating mb-3 mt-3">
        <input
          type="text"
          [(ngModel)]="userUpdate.Apellido2"
          #Apellido2
          class="form-control"
          placeholder="Ingrese primer apellido"
        />
        <label>Segundo Apellido</label>
      </div>
    </div>
  </div>
  <div class="form-floating">
    <input
      type="date"
      [(ngModel)]="userUpdate.Fecha_nacimiento"
      #Fecha_nacimiento
      class="form-control"
      placeholder="Ingrese fecha de nacimiento"
    />
    <label>Fecha nacimiento</label>
  </div>
  <div class="form-floating mb-3 mt-3">
    <input
      type="text"
      [(ngModel)]="userUpdate.Direccion"
      #Direccion
      class="form-control"
      placeholder="Ingrese direccion de domicilio"
    />
    <label>Direccion domicilio</label>
  </div>
  <div class="form-floating mb-3 mt-3">
    <select
      class="form-select"
      id="floatingSelect"
      aria-label="Floating label select example"
    >
      <option *ngFor="let i of listRol" [value]="i.id">{{ i.rol }}</option>
    </select>
    <label>Tipo de Perfil</label>
  </div>
  <div class="form-floating mb-3 mt-3">
    <input type="text" class="form-control" placeholder="Ingrese usuario" />
    <label>Usuario</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      [(ngModel)]="userUpdate.password"
      #password
      class="form-control"
      placeholder="Ingrese contraseña"
    />
    <label>Contraseña</label>
  </div>
  <div class="d-grid gap-2 mb-3">
    <button type="button" class="btn btn-primary btn-lg">Aceptar</button>
  </div>
</div>
