<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="/assets/images/logo_innovadiesel.jpg" alt="" width="115px" height="24">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/perfil"> <b>Perfil</b> </a>
        </li>
      </ul>
    </div>
    <button class="btn btn-outline-success" (click)="salir()" type="button">Salir</button>
  </div>
</nav>

